@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&family=Parisienne&family=Satisfy&display=swap');
body {
    padding: 0 20px 0 20px;
    background-image: url(images/tazacafe.jpeg);
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: darkgoldenrod;
    margin-bottom: 5px;
    font-family: "Parisienne", cursive;
}
#eslogan {
    font-family: "Caveat", cursive;
    margin: auto;
    font-size: 2em;
    color: cornsilk;
    border: 2px solid cornsilk;
    width: 40%;
    text-align: center;
}
h2 {
    color: #FFE4C4;
    font-family: "Pacifico", cursive;
}
a {
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    text-decoration: none;
}
a:link {
    color: white;
}
a:hover {
    font-weight: bold;
}
a:active {
    color: darkgoldenrod;
}
.texto-normal {
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
    color: #FFE4C4;
    line-height: 2;
    padding: 30px;
    text-align: justify;
}
#logocafe {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
#contenedor-logo {
    text-align: center;
}
ul,li {color: white;}
/*Estilo de la carta*/
.fotocarta {
    height: 200px;
    width: 200px;
}
.categorias {
    background-color: darkgoldenrod;
    font-size: 2em;
    text-shadow: 3px 3px white;
}
table,th,td {
    border: 3px solid darkgoldenrod;
    border-collapse: collapse;
    vertical-align: center;
    width: 50%;
    padding: 20px;
}
table {
    background-color: cornsilk;
    font-family: "Satisfy";
    margin: auto;
    text-align: center;
}
form {
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 30px;
    background-color: black;
}
label {
    font-family: "Caveat";
    color: cornsilk;
    font-size: 1.5em;
}